* {
    margin: 0;
}
#dd {
    float: left;
    background-color: rgb(191, 157, 157);
    width: 500px;
    height: 500px;
    text-align: center;
    display: none;
    margin-top: 2px;

}

/* button{
    width: 110px;
    height: 30px;
} */

button {
    display: inline-block;
    padding: 1.5rem 1.8rem;
    background: rgb(191, 146, 234);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem rgb(241, 237, 200);
    font-size: 0.9rem;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
    margin-left: 10px;
}

button:hover {
    background: transparent;
    color: black;
    border-color: rgb(191, 146, 234);
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.animated-input {
    animation: shake 0.5s ease-in-out 0s 1;
}

#jgame{
    /* float: left; */
    display: none;
}

#container{
    float: right;
    height: 800px;
    width: 520px;
    overflow: scroll;
    overflow-x: hidden; 
}

.containerdiv{
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* background: linear-gradient(180deg,  rgb(255, 255, 255) 80%, rgb(191, 146, 234)); */
    border-top: 3px solid rgb(191, 146, 234);
    border-right: 3px solid rgb(191, 146, 234);
    border-radius: 3%;
    width: 500px;
    height: 90px;
    margin-bottom: 10px;
    transition: .5s ease;
}

.containerdiv:hover{
    opacity: .9;
    background: linear-gradient(180deg,  rgb(255, 255, 255) 0%, rgb(191, 146, 234) 60%);
}
.containerimg{
    margin: 0 50px;
    width: 70px;
    height: 70px;
    border-radius: 10%;
}

p{
    font-size: 20px;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    margin-bottom: 2px;
    padding: 10px;
    /* background-color: rgb(205, 227, 227); */
    box-shadow: 0 2px 4px rgba(191, 146, 234, 0.5);
    border-bottom: 1px solid rgb(191, 146, 234);
}

#column{
    width: 100px;
    /* background-color:; */
    height: calc(100vh - 203px);
    /* display: grid; */
    /* padding-top: 100px; */
    align-items: center;
    justify-content: center;
    float: left;
}

#nextcolumn{
    height: 60%;
    padding-top:28px ;
    border-radius: 1.9rem;
    background-color: rgb(191, 146, 234) ;
    margin-bottom: 10px;
}

#nextcolumn1{
    height: 9.7%;
    margin-bottom: 10px;
    padding-top:28px ;
    border-bottom-left-radius: 1.9rem;
    border-bottom-right-radius: 1.9rem;
    background-color: rgb(191, 146, 234) ;
}
#nextcolumn2{
    height: 30%;
    padding-top:28px ;
    border-top-left-radius: 1.9rem;
    border-top-right-radius: 1.9rem;
    background-color: rgb(191, 146, 234) ;
}
#img{
    width: 50px;
    margin-right: 15px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 50%;
    /* margin: 20px; */
    padding: 2px;
    border: 3px solid rgb(191, 146, 234);
}

#UserName{
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 50%;
}

.item{
    width: 100px;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 20px ;
    border-radius: 50%;
    /* justify-content: center; */
    /* background-color: blue; */
    /* border-top-right-radius: 50%; */
}

#topitem{
    width: 90px;
    background-color: rgb(191, 146, 234);
    height: 40px;
    border-bottom-right-radius: 80%;
}
.containeritem{
    
    margin-left: 10px;
    /* background-color: aquamarine; */
    /* border-radius: 50%; */
}

.containeritem:hover{
    background-color: white;
}
#buttomitem{
    border-top-right-radius: 80%;
    width: 90px;
    background-color: rgb(191, 146, 234);
    height: 40px;
}

#div{
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 400px;
    height: 600px; /* Adjust the height according to your needs */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    /* flex-shrink: 0; */
    /* display: inline-flex; */
}
.d1{
    box-shadow: 10px 10px 20px rgba(43, 21, 149, 0.63);
    align-self: flex-start;
    padding: 15px;
    width: fit-content;
    margin: 3px;
    margin-top: 10px;
    word-wrap: break-word;
    max-width: 70%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* width: auto; */
    background: linear-gradient( 90deg ,rgba(231, 238, 238, 0.2) 80%, rgb(181, 228, 228));
    /* height: 100px; */
    font-weight: bold;
    border: 1px solid black;
}
.d2{
    box-shadow: 10px 10px 20px rgba(43, 21, 149, 0.63);
    font-weight: bold;
    align-self: flex-end;
    padding: 15px;
    margin: 3px;
    margin-top: 10px;
    width: fit-content;
    word-wrap: break-word;
    max-width: 70%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* width: auto; */
    background: linear-gradient( 90deg ,rgba(231, 238, 238, 0.2) 80%, rgb(208, 186, 226));
    /* height: 100px; */
    border: 1px solid black;
}
.f{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color: royalblue;
    width: fit-content;
}

#message{
    width: 420px;
    height: 500px;
    float: right;
    display: none;
    margin-right: 20px;
}

#title{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    background-color:rgb(191, 146, 234);
    width: 100%;
    height: 50px;
    /* margin-left: 10px; */
    margin-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;

}

#title img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

#btn{
    width: 100px;
    height: 70px;
    /* height: 40px; */
    background-color: rgb(191, 146, 234);
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    /* margin-left: 10px;
    margin-top: 10px; */
    color: white;
    font-size: 20px;
    text-align: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* cursor: pointer; */
}

#sent{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#inp{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    word-wrap: break-word;
    border-bottom:2px solid #401a77 ;
    /* margin-left: 10px;
    margin-top: 10px; */
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

  .typing {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .typing span {
    content: '';
    display: block;
    height: 0.3em;
    width: 0.3em;
    background-color: #401a77;
    margin: auto 0.4em;
    box-shadow: 5px 5px 5px #1e0660 inset;
    
    animation: bounce 0.6s infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-delay: 0s;
  }
  
  .typing span:nth-child(2) {
    animation-delay: 0.25s;
  }
  .typing span:last-child {
    animation-delay: 0.5s;
  }
  
  
  @keyframes bounce {
    0% {
      margin-bottom: 0.1em;
    }
    
    25% {
      margin-bottom: 0.2em;
    }
    
    50% {
      margin-bottom: 0.3em;
    }
    
    75% {
      margin-bottom: 0.4em;
    }
    
    100% {
      margin-bottom: 0.5em;
    }
  }

 